  AppBucket<%= @id %>:
    Type: "AWS::S3::Bucket"
    Properties:
      AccessControl: PublicReadWrite
      BucketName: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
      VersioningConfiguration:
        Status: 'Enabled'
      WebsiteConfiguration:
        IndexDocument: !Ref 'IndexDocument'

  AppBucketPolicy<%= @id %>:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: AppBucket<%= @id %>
      PolicyDocument:
        Statement:
        - Sid: PublicReadForGetBucketObjects
          Effect: Allow
          Principal: '*'
          Action: s3:GetObject
          Resource: !Join ['', ['arn:aws:s3:::', !Ref 'AppBucket<%= @id %>', /*]]

  WebsiteBucket<%= @id %>:
    Type: "AWS::S3::Bucket"
    Properties:
      AccessControl: PublicReadWrite
      BucketName: !Sub
            - www.${Domain}
            - Domain: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
      WebsiteConfiguration:
        RedirectAllRequestsTo:
          HostName:
            Ref: AppBucket<%= @id %>

  DefaultZone<%= @id %>:
    Type: "AWS::Route53::HostedZone"
    Properties:
      HostedZoneConfig:
        Comment: 'This is a brand new hosted zone'
      HostedZoneTags:
        - Key: 'Test'
          Value: 'Route'
      Name: !FindInMap [Helpers, <%= @tag %>, AppBucketName]

  WebsiteCloudfront<%= @id %>:
    Type: AWS::CloudFront::Distribution
    DependsOn:
    - WebsiteBucket<%= @id %>
    Properties:
      DistributionConfig:
        Comment: Cloudfront Distribution pointing to S3 bucket
        Origins:
        - DomainName: !Join [., [!FindInMap [Helpers, <%= @tag %>, AppBucketName], !FindInMap [RegionMap, !Ref 'AWS::Region', S3WebsiteEndpoint]]]
          Id: S3Origin
          CustomOriginConfig:
            HTTPPort: '80'
            HTTPSPort: '443'
            OriginProtocolPolicy: http-only
        Enabled: true
        HttpVersion: 'http2'
        DefaultRootObject: !Ref 'IndexDocument'
        Aliases:
        - !FindInMap [Helpers, <%= @tag %>, AppBucketName]
        DefaultCacheBehavior:
          AllowedMethods:
          - GET
          - HEAD
          Compress: true
          TargetOriginId: S3Origin
          ForwardedValues:
            QueryString: true
            Cookies:
              Forward: none
          ViewerProtocolPolicy: allow-all
        PriceClass: PriceClass_All

  DefaultDNS<%= @id %>:
    Type: "AWS::Route53::RecordSetGroup"
    Properties:
      HostedZoneName:
        Ref: DefaultZone<%= @id %>
      Comment: Zone apex alias.
      RecordSets:
        - Name: !Sub
              - www.${Domain}
              - Domain: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
          Type: A
          AliasTarget:
            HostedZoneId: 'Z2FDTNDATAQYW2'
            DNSName: !GetAtt [WebsiteCloudfront<%= @id %>, DomainName]
        - Name: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
          Type: A
          AliasTarget:
            HostedZoneId: 'Z2FDTNDATAQYW2'
            DNSName: !GetAtt [WebsiteCloudfront<%= @id %>, DomainName]

  SubDomainNS<%= @id %>:
    Type: 'AWS::Route53::RecordSet'
    DependsOn:
      - DefaultZone<%= @id %>
    Properties:
      HostedZoneId: !Ref 'RootDomainZoneID'
      Name: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
      Type: 'NS'
      TTL: 900
      ResourceRecords: !GetAtt DefaultZone<%= @id %>.NameServers
