        - Name: "Source"
          Actions:
            - Name: "ApplicationSource"
              ActionTypeId:
                Category: "Source"
                Owner: "AWS"
                Provider: "CodeCommit"
                Version: "1"
              RunOrder: 1
              Configuration:
                BranchName: "<%= @branch %>"
                RepositoryName: !Ref 'CodeCommitProject'
                <% if @isManual %>
                PollForSourceChanges: 'false'
                <% end %>
              OutputArtifacts:
                - Name: "app-source"
