<%= partial('s3/www-bucket.yaml.erb', id: @id, tag: @tag) %>

  S3UploadBuild<%= @id %>:
    Type: "AWS::CodeBuild::Project"
    Properties:
      Name: !FindInMap [Helpers, <%= @tag %>, BuildProjectName]
      Description: "Upload resources to an S3 bucket"
      Source:
        Type: "CODEPIPELINE"
        BuildSpec: "version: 0.2\n\nphases:\n  build:\n    commands:\n      - sudo apt-get update -y\n      - sudo apt-get install libfile-mimeinfo-perl -y\n      - for file in `cd ${ROOT_DIRECTORY} && find * -type f`; do aws s3api put-object --key \"${file}\" --bucket $S3_BUCKET --grant-read uri=http://acs.amazonaws.com/groups/global/AllUsers --body \"${ROOT_DIRECTORY}/${file}\" --content-type `/usr/bin/mimetype -b \"${ROOT_DIRECTORY}/${file}\"`; done"
      Environment:
        Type: "container"
        Image: "aws/codebuild/ubuntu-base:14.04"
        ComputeType: "small"
        EnvironmentVariables:
          - Name: "S3_BUCKET"
            Value: !FindInMap [Helpers, <%= @tag %>, AppBucketName]
          - Name: "ROOT_DIRECTORY"
            Value: !Ref 'WebsiteRootDirectory'
      Artifacts:
        Type: "CODEPIPELINE"
      ServiceRole:
        Ref: PipelineRole<%= @id %>
      TimeoutInMinutes: 60
      EncryptionKey: !Join [':', ['arn:aws:kms', !Ref 'AWS::Region', !Ref 'AWS::AccountId', 'alias/aws/s3']]
      Tags: []
