---
AWSTemplateFormatVersion: 2010-09-09

Parameters:
  ProjectName:
    Description: The name of the project
    Type: String
  CodeCommitProject:
    Description: The name of the AWS Code Commit project to build
    Type: String
  StagingBucketName:
    Description: The name of the staging s3 bucket for development
    Type: String
  RootDomainZoneID:
    Description: The zone ID of the root domain
    Type: String
  RootDomain:
    Description: The root domain
    Type: String
  IndexDocument:
    Description: The index document for static S3 websites
    Type: String
    Default: index.html
  WebsiteRootDirectory:
    Description: The directory in code commit containing the index file
    Type: String
    Default: '.'

Mappings:
<%= partial('mappings/region-map.yaml.erb', {}, indent: 2) %>
  Helpers:
    <% @environments.each do |environment| %>
    <%= environment['tag'] %>:
      AppBucketName: !Join ['.', [<%= environment['tag'] %>, !Ref 'RootDomain']]
      BuildProjectName: !Join ['-', [!Ref 'ProjectName', 'Build', '<%= environment['tag'] %>']]
    <% end %>
Resources:

# =============================================================================
# S3 Buckets
# =============================================================================
<% @buckets.each do |bucket| %>
<%= partial('s3/default-bucket.yaml.erb', id: bucket['logicalId'], name: bucket['name']) %>
<% end %>

<% @environments.each do |environment| %>

# =============================================================================
# Environment: <%= environment['tag'] %>
# =============================================================================
  # ---------------------------------------------------------------------------
  # IAM Security Role for the <%= environment['tag'] %> pipeline
  # ---------------------------------------------------------------------------
<%= partial('iam/pipeline-iam.yaml.erb', id: environment['id'], tag: environment['tag'], codebuildId: 'S3UploadBuild', pipelineId: 'S3StaticWebsitePipeline') %>
  # ---------------------------------------------------------------------------
  # CodeBuild configuration for the <%= environment['tag'] %> pipeline
  # ---------------------------------------------------------------------------
<%= partial('codebuild/s3-upload.yaml.erb', id: environment['id'], tag: environment['tag']) %>
  # ---------------------------------------------------------------------------
  # Pipeline definition: <%= environment['tag'] %>
  # ---------------------------------------------------------------------------
  <% pipeline=environment['pipeline'] %>
<%= partial('codepipeline/s3-static-website-pipeline.yaml.erb', id: environment['id'], tag: environment['tag'], branch: pipeline['branch'], isManual: pipeline['isManual'], buildName: "!Join ['-', [!Ref 'ProjectName', 'Build', #{environment['tag']}]]") %>

<% end %>
